{% extends 'base.html' %}
{% block title %}
{{application.name}}-({{application.lab_no}})
{% endblock title %}
{% block css %}
<style>
    @media print {
        body * {
            visibility: hidden,
        }

        #content {
            visibility: visible,
        }

        #noprint {
            visibility: hidden;
        }

    }
</style>
{% endblock css %}
{% block body %}

<div class="container w-50 my-3">
    <h2 class="text-center bg-primary text-light" id="noprint">Shriya Diagnostics</h2>
    <div id="content">
        <div class="row">
            <div class="col-sm-6">
                <table class="font-weight-bold" style="font-size:18px;">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{application.name}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>{{application.age}} yrs</td>
                        </tr>
                        <tr>
                            <td>Sex</td>
                            <td>:</td>
                            <td>{{application.sex}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>:</td>
                            <td id="perTd"><input type="text" class="form-control" id="percentage"
                                    placeholder="percentage"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="font-weight-bold" style="font-size:18px;">
                    <tbody>
                        <tr>
                            <td>Received_on</td>
                            <td>:</td>
                            <td>{{application.recieved_on}}</td>
                        </tr>
                        <tr>
                            <td>Lab_No</td>
                            <td>:</td>
                            <td>{{application.lab_no}}</td>
                        </tr>
                        <tr >
                            <td>Ref.By</td>
                            <td>:</td>
                            <td>{{application.ref_by}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table my-3">
            <thead>
                <tr>
                    <th scope="col">Test</th>
                    <th scope="col">Price</th>

                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{record.test}}</td>
                    <td>{{record.price}}</td>
                </tr>
                {% endfor %}
                <tr class="bg-dark text-light">
                    <th>Total</th>
                    <th>&#8377;<span id="total">{{total}}</span></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="noprint" id="noprint"><button class="btn btn-primary" onclick="printme()">print</button></div>
</div>

{% endblock body %}
{% block js %}
<script>
    function printme() {
        window.print()
    }
    $('#percentage').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            calPercentage();
        }
    });

    function calPercentage() {
        var per = document.getElementById('percentage');
        var total = document.getElementById('total');
        var price = parseInt(total.innerHTML);
        var td = document.getElementById('perTd');
        price = price
        var percent = 100 - parseInt(per.value);
        price = (price / 100.0) * percent;
        total.innerHTML = price;
        td.innerHTML = 100 - percent;
    }
</script>
{% endblock js %}